@import "tailwindcss";

body {
  background: #0B0B0B;
  background: linear-gradient(45deg, #1b0214, #04041b, #06000a, #0c0c0e, #0b011b, #10021d, #0c0224);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  font-family: Geist;
  color: rgb(155, 154, 154);
}

@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a:hover {
  transition: 0.3s;
  color: white;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #1a1a1a;
}

#example {
  width: 100vw;
  max-width: 400px;
  position: relative;
}

#example #progress {
    position: absolute;
    top: -65px;
    left: -15px;
    transform: rotate(-90deg);
}

#example .bg {
    stroke: var(--layer);
}

#example #progress circle {
    stroke-dashoffset: 0;
    stroke-width: 10%;
    fill: none;
}

#progress .indicator {
    stroke: var(--accent);
}

#example ul {
    display: flex;
    list-style: none;
    height: 220px;
    overflow-x: scroll;
    padding: 20px 0;
    flex: 0 0 600px;
    margin: 0 auto;
    gap: 20px;
}

#example ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
}

#example ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
}

#example ::-webkit-scrollbar-corner {
    background: #fff3;
}

#example li {
    flex: 0 0 200px;
    background: var(--accent);
}